<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ledesma LED - Página de Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ledesma LED - Página de Inicio</h1>
        <div style="margin-top: 50px;">
            <a href="/crear_proforma" class="btn btn-verde">Crear una Nueva Proforma</a>
            <a href="/lista_proformas" class="btn btn-beige">Ver Proformas Anteriores</a>
        </div>
    </div>
</body>
</html>